
   <!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Host CAR</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Host_Car.styles.css" asp-append-version="true" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">*@
</head>
<body class="loaded">
 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
        <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Rent" asp-action="PreOrderSearch">Rent A Car</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cars</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Car" asp-action="AllCars">All Cars</a>
        <a class="dropdown-item" asp-controller="Car" asp-action="SuperCarShow">Super Car</a>
        <a class="dropdown-item" asp-controller="Car" asp-action="PoorCarShow">Poor Car</a>
        <a class="dropdown-item" asp-controller="Car" asp-action="MuscleCarShow">Muscle Car</a>
        </div>
        </li>
        <partial name="_CarFilterPartial" />
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ofice</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Car" asp-action="OficeAdress">Ofice Adresses</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
        </div>
        </li>
        </ul>

        <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        <partial name="_LoginPartial" />
                    <div class="container">
                        <main role="main" class="pb-3">

                        </main>
                    </div>
        </form>
        </div>
        </div>
        </nav> 



      <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script> 

</body>
</html>
-->
