<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Information</h6>
           
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Ofice Hours</h5>
                    <p class="m-0">@ViewBag.Time</p>
                    <p class="m-0">@ViewBag.OficeDay</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Ofice Adress</h5>
                      <select asp-items="@ViewBag.Adresses" class="form-control" style="border-radius:50%; border-color:transparent"></select>
                    <p class="m-0"></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Information</h5>
                    <p class="m-0">We never give any guaranties. </br> Any mistake made by you </p>
                </div>
            </div>
            <h1><a asp-action="ContactUs">Any Questions? Contact us....But don't do that</a></h1>
        </div>
    </div>
</div>