
<img src="~/Image/Background/BlackSky.jpg" style="width:400px; height:400px" />

<h2>Your Order Is Complete. When time will come, u can come and pick the car at chosen place</h2>

<div>
    <a asp-controller="Rent" asp-action="PreOrderSearch">Back To Home</a>
</div>